In [ ]:
import pandas as pd

from config import Config

In [ ]:
cnfg = Config()

In [ ]:
train_df = pd.read_csv(f"{cnfg.base_data_path}aimo_given/train.csv")

In [ ]:
train_df.shape

(10, 3)

In [ ]:
train_df

       id                                            problem  answer
0  229ee8  Let $k, l > 0$ be parameters. The parabola $y ...      52
1  246d26  Each of the three-digits numbers $111$ to $999...     250
2  2fc4ad  Let the `sparkle' operation on positive intege...     702
3  430b63  What is the minimum value of $5x^2+5y^2-8xy$ w...     800
4  5277ed  There exists a unique increasing geometric seq...     211
5  739bc9  For how many positive integers $m$ does the eq...     199
6  82e2a0  Suppose that we roll four 6-sided fair dice wi...     185
7  8ee6f3  The points $\left(x, y\right)$ satisfying $((\...     320
8  bedda4  Let $ABCD$ be a unit square. Let $P$ be the po...     480
9  d7e9c9  A function $f: \mathbb N \to \mathbb N$ satisf...     199

In [ ]:
for i, row in train_df.iterrows():
    print(row.problem, "\n", row.answer)
    print("\n ========= \n")

Let $k, l > 0$ be parameters. The parabola $y = kx^2 - 2kx + l$ intersects the line $y = 4$ at two points $A$ and $B$. These points are distance 6 apart. What is the sum of the squares of the distances from $A$ and $B$ to the origin?
 52

 =========

Each of the three-digits numbers $111$ to $999$ is coloured blue or yellow in such a way that the sum of any two (not necessarily different) yellow numbers is equal to a blue number. What is the maximum possible number of yellow numbers there can be?
 250

 =========

Let the `sparkle' operation on positive integer $n$ consist of calculating the sum of the digits of $n$ and taking its factorial, e.g. the sparkle of 13 is $4! = 24$. A robot starts with a positive integer on a blackboard, then after each second for the rest of eternity, replaces the number on the board with its sparkle. For some `special' numbers, if they're the first number, then eventually every number that appears will be less than 6. How many such special numbers are there with at most 36 digits?
 702

 =========

What is the minimum value of $5x^2+5y^2-8xy$ when $x$ and $y$ range over all real numbers such that $|x-2y| + |y-2x| = 40$?
 800

 =========

There exists a unique increasing geometric sequence of five 2-digit positive integers. What is their sum?
 211

 =========

For how many positive integers $m$ does the equation \[\vert \vert x-1 \vert -2 \vert=\frac{m}{100}\] have $4$ distinct solutions?
 199

 =========

Suppose that we roll four 6-sided fair dice with faces numbered 1 to~6. Let $a/b$ be the probability that the highest roll is a 5, where $a$ and $b$ are relatively prime positive integers. Find $a + b$.
 185

 =========

The points $\left(x, y\right)$ satisfying $((\vert x + y \vert - 10)^2 + ( \vert x - y \vert - 10)^2)((\vert x \vert - 8)^2 + ( \vert y \vert - 8)^2) = 0$ enclose a convex polygon. What is the area of this convex polygon?
 320

 =========

Let $ABCD$ be a unit square. Let $P$ be the point on $AB$ such that $|AP| = 1/{20}$ and let $Q$ be the point on $AD$ such that $|AQ| = 1/{24}$. The lines $DP$ and $BQ$ divide the square into four regions. Find the ratio between the areas of the largest region and the smallest region.
 480

 =========

A function $f: \mathbb N \to \mathbb N$ satisfies the following two conditions for all positive integers $n$:$f(f(f(n)))=8n-7$ and $f(2n)=2f(n)+1$. Calculate $f(100)$.
 199

 =========

### AIMO External Data Source

In [ ]:
external_df = pd.read_csv(f"{cnfg.base_data_path}aimo_external/external_df.csv")

In [ ]:
external_df.shape

(21292, 6)

In [ ]:
external_df.head()

,problem,level,type,solution,stage,source
0,Kevin Kangaroo begins hopping on a number line...,Level 5,Algebra,Kevin hops $1/3$ of the remaining distance wit...,train,MATH
1,The ratio of the areas of two squares is $\fra...,Level 4,Algebra,We start off by simplifying the ratio $\frac{1...,train,MATH
2,"If $\sqrt{2\sqrt{t-2}} = \sqrt[4]{7 - t}$, the...",Level 4,Algebra,"We raise both sides to the fourth power, which...",train,MATH
3,Let $t(x) = \sqrt{3x+1}$ and $f(x)=5-t(x)$. Wh...,Level 4,Algebra,We first evaluate $f(5) = 5 -t(5) = 5-\sqrt{5\...,train,MATH
4,James has a total of 66 dollars in his piggy b...,Level 2,Algebra,Call the number of one dollar bills $x$ and th...,train,MATH

In [ ]:
tmp = external_df.sample(1).iloc[0]
print(tmp.problem)
print(tmp.solution)

A certain integer has $4$ digits when written in base $8$. The same integer has $d$ digits when written in base $2$. What is the sum of all possible values of $d$?
The smallest integer that has $4$ digits in base $8$ is $1000_8$, which stands for $8^3 = 2^9$. The largest integer that has $4$ digits in base $8$ is $7777_8$, which is $1$ less than $10000_8$ and therefore stands for $8^4-1 = 2^{12}-1$.

Thus, when a $4$-digit base-$8$ integer is written in base $2$, its highest place value is either $2^9$, $2^{10}$, or $2^{11}$. It follows that the base-$2$ expression has $10$, $11$, or $12$ digits, so the sum of all possible values for $d$ is $10+11+12 = \boxed{33}$.

In [ ]:
external_df

,problem,level,type,solution,stage,source
0,Kevin Kangaroo begins hopping on a number line...,Level 5,Algebra,Kevin hops $1/3$ of the remaining distance wit...,train,MATH
1,The ratio of the areas of two squares is $\fra...,Level 4,Algebra,We start off by simplifying the ratio $\frac{1...,train,MATH
2,"If $\sqrt{2\sqrt{t-2}} = \sqrt[4]{7 - t}$, the...",Level 4,Algebra,"We raise both sides to the fourth power, which...",train,MATH
3,Let $t(x) = \sqrt{3x+1}$ and $f(x)=5-t(x)$. Wh...,Level 4,Algebra,We first evaluate $f(5) = 5 -t(5) = 5-\sqrt{5\...,train,MATH
4,James has a total of 66 dollars in his piggy b...,Level 2,Algebra,Call the number of one dollar bills $x$ and th...,train,MATH
...,...,...,...,...,...,...
21287,John had a son James when he was 19. James is...,NaN,NaN,Dora is 12-3=<<12-3=9>>9\nSo James is 9*2=<<9*...,test,GSM8K
21288,There are some oranges in a basket. Ana spends...,NaN,NaN,There are 60 minutes in an hour. Ana peels an ...,test,GSM8K
21289,Mark's car breaks down and he needs to get a n...,NaN,NaN,The discount on the radiator was 400*.8=$<<400...,test,GSM8K
21290,"Farmer Brown has 20 animals on his farm, all e...",NaN,NaN,Let C be the number of chickens.\nThere are 20...,test,GSM8K
21291,Henry and 3 of his friends order 7 pizzas for ...,NaN,NaN,There are 7*8=<<7*8=56>>56 slices in total.\nT...,test,GSM8K

In [ ]:
len("A certain integer has $4$ digits when written in base $8$. The same integer has $d$ digits when written in base $2$. What is the sum of all possible values of $d$?")

163